.header {
    max-width: 1280px;
    width: 100%;
    margin-inline: auto;
    padding-block: 2rem;
    padding-inline: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 150px;
}

.header nav ul {
    display: flex;
    gap: 2rem;
}

.header a {
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    padding-block: 10px;
}

.header nav a {
    text-transform: uppercase;
}

.cta a {
    padding-inline: 1rem;
    border-radius: 20px;
    background-color: #6855e0;
    transition: 0.2s ease-in;
}

.cta a:hover {
    box-shadow: 0 0 20px #6855e099;
}

.cta button {
    border: none;
    outline: none;
    padding-inline: 1rem;
    padding-block: 10px;
    border-radius: 20px;
    letter-spacing: 1px;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    background-color: #6855e0;
    color: #ffffff;
    transition: 0.2s ease-in;
}

.cta button:hover {
    box-shadow: 0 0 20px #4f3bce99;
}

.header nav ul a:hover {
    color: #c2b27d;
    transition: 0.2s ease-in;
}

.header nav ul a.active {
    color: #c2b27d;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.hamBtn {
    display: none;
    z-index: 99999;
}

.hamBtn button {
    background-color: transparent;
    outline: none;
    border: none;
}

.header nav ul .conditionLink {
    display: none;
}

.header nav ul .navcta a {
    padding-inline: 1rem;
    border-radius: 20px;
    background-color: #6855e0;
    transition: 0.2s ease-in;
    padding-block: 7px;
    text-transform: capitalize;
}

.header nav ul .navcta a:hover {
    box-shadow: 0 0 20px #6855e099;
    color: #ffffff;
}

.header nav ul .navcta button {
    border: none;
    outline: none;
    padding-inline: 1rem;
    padding-block: 7px;
    border-radius: 20px;
    letter-spacing: 1px;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    background-color: #6855e0;
    color: #ffffff;
    transition: 0.2s ease-in;
}

.header nav ul .navcta button:hover {
    box-shadow: 0 0 20px #6855e099;
}

@media (max-width: 600px) {
    .hamBtn {
        display: block;
    }

    .header nav {
        position: absolute;
        width: 100vw;
        top: 0;
        left: 0;
        transition: transform 0.3s ease-in-out;
        z-index: 9;
    }

    .header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding-block-start: 6rem;
        padding-block-end: 2rem;
        background-color: #0c101dbb;
        backdrop-filter: blur(10px);
        top: 100%;
        left: 0;
    }

    .header nav ul .conditionLink {
        display: block;
    }

    .cta {
        display: none;
    }

    .show {
        transform: translateY(0);
        box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.75);
    }

    .hide {
        transform: translateY(-100%);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        z-index: 2;
    }
}
