.signupForm {
    background-color: #ffffff;
    color: #000000;
    padding: 2rem;
    padding-inline: 3rem;
}

.signupForm h1 {
    font-weight: 500;
    margin-block-end: 2rem;
}

.signupForm div {
    position: relative;
}

.signupForm div .eye {
    border: none;
    outline: none;
    background-color: transparent;
}

.signupForm div .eye img {
    position: absolute;
    right: 0;
    top: 2.5rem;
}

.signupForm label {
    font-size: 0.9rem;
}

.signupForm label span {
    color: #ff0000;
}

.signupForm input {
    border: none;
    outline: none;
    border-bottom: 1px solid #00000052;
    width: 100%;
    padding-block: 0.3rem;
    margin-block-end: 2rem;
}

.signupForm input:focus {
    border-bottom: 1px solid #000000;
}

.passConstraint {
    margin-block-end: 1rem;
}

.passConstraint h2 {
    font-weight: 500;
    font-size: 1rem;
    margin-block-end: 4px;
}

.passConstraint p {
    color: #333333;
    font-size: 0.7rem;
    letter-spacing: 1px;
}

.signupBtn {
    margin-block-end: 1rem;
}

.signupForm .existAccount {
    text-align: center;
    font-size: 0.8rem;
    color: #0000008f;
}

.signupForm .existAccount a {
    color: #000000;
}

.verificationForm {
    background-color: #ffffff;
    color: #000000;
    padding: 2rem;
    padding-inline: 3rem;
}

.verificationForm h1 {
    font-weight: 500;
    margin-block-end: 2rem;
}

.verificationForm p {
    font-size: 0.9rem;
    margin-block-end: 1.5rem;
    color: #333333;
}

.verificationForm input {
    border: none;
    outline: none;
    border-bottom: 1px solid #00000052;
    width: 100%;
    padding-block: 0.3rem;
    margin-block-end: 2rem;
}

.verificationForm input::-webkit-outer-spin-button,
.verificationForm input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.verificationForm input:focus {
    border-bottom: 1px solid #000000;
}

.resendBtn,
.confirmBtn {
    text-transform: uppercase;
}

.resendBtn {
    margin-block-end: 1rem;
    background-color: #36c595;
}

.error {
    color: #ff0000;
    font-size: 0.7rem;
    letter-spacing: 0.5px;
    margin-block-start: -2rem;
    margin-block-end: 1rem;
}

@media (max-width: 390px) {
    .signupForm,
    .verificationForm {
        padding-inline: 1rem;
    }
}
